<h1>Word: <b class="color">City</b></h1>
<div>
  <%= image_tag 'IMG_0220.JPG', class: 'img' %>
</div>
<h2>Chicago IL</h2>
<p>A large or important town. An incorporated municipality, usually governed by a mayor and a board of aldermen or councilmen.</p>
